<tr class="nested-fields">
  <td class="thumb-field"><%= f.hidden_field :thumb_url, class: "thumb-url" %><%= f.hidden_field :image_url, class: "image-url" %></td>
  <td class="caption-field"><%= f.text_field :caption, class: "form-control" %></td>
  <td class="remove-field"><%= link_to_remove_association icon('remove'), f %></td>
</tr>