<%= form_tag('#', method: :post) do  %>
<div id="dropzone" class="dropzone">
  <div class="drop-inner">
    <span class="drop-text">Drop files here<span class="small">or</span></span>
    <div class="button-holder">
      <span class="btn btn-primary fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <%= cl_image_upload_tag("photo[]", 
                                :crop => :limit, :width => 720, :height => 720,
                                :eager => [{ :crop => :fit, :width => 130, :height => 130 }],
                                :html => { :multiple => true, :class => "image-upload" }) %>
      </span>
    </div>
  </div>
</div>
<div id="progress" class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
<% end %>