:global(.react-bootstrap-table) {
  .table {
    table-layout: auto;
    white-space: nowrap;

    td,
    td button {
      text-overflow: ellipsis;
      max-width: 18rem;
      overflow: hidden;
    }
  }
}
