@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);
@import "select2.min.css";
@import "select2-bootstrap.min.css";
@import "dataTables.bootstrap.min.css";
@import "photoselector";
@import "ekko-lightbox.min.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b5998;
    font-family: 'Roboto', sans-serif;
    counter-reset: item;
}
  
#map {
    height: 100%;
}

.navbar {
    margin: 0;
    padding: 0;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#search {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#search:focus {
    border-color: #4d90fe;
}

.modal img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.modal .modal-carousel {
    height: 525px;
    overflow-y: auto;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-left .modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal-left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal-left.fade:not(.in) .modal-dialog {
    left: -320px;
    -webkit-transform: translate3d(-25%, 0, 0);
        -ms-transform: translate3d(-25%, 0, 0);
         -o-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
}

.modal-left.fade.in .modal-dialog {
    left: 0;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.carousel-controls{
    position: relative; 
    width: 100%;
    margin: 0 auto;
    height: 30px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #999;
    width: 5%;
    top: 0px;
}

.carousel-indicators {
    top: 50%;
}

.carousel-indicators li {
    background-color: #999;
}

.carousel-indicators .active {
    background-color: #444;
}

div.carousel-box {
    width: 100%;
    height: auto;
    display: block;
}

div.chart-box {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.chart-total-box {
    text-align: center;
}

.chart-total {
    position: relative;
    top: 88px;
    font-size: 20px;
    z-index: -1;
}

ol.colored-list {
   list-style: none;
}

ol.colored-list li {
    counter-increment: item;
    margin-bottom: 5px;
    font-size: 16px;
}

ol.colored-list li:before {
    margin-right: 10px;
    content: counter(item);
    background: #f3e820;
    border-radius: 100%;
    color: #000000;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 4px;
        padding-bottom: 4px;
        line-height: 50px;
        outline: none;
    }

    .navbar-brand {
        padding-top: 4px;
        padding-bottom: 4px;
        line-height: 50px;
    }

    .modal-left {
        top: 60px;
        right: auto;
        overflow: visible !important;
    }

    .modal-left .modal-dialog {
        width: 360px;
    }
}